mappingsFile="property_mappings.json"

redmineApiUrl="https://redmine.acdh.oeaw.ac.at"
redmineApiKey="putYourKeyHere"
redmineIdProp="http://www.w3.org/2000/01/rdf-schema#seeAlso"

sparqlUrl="http://blazegraph:9999/blazegraph/sparql"

fedoraIdProp="http://purl.org/dc/terms/identifier"
fedoraIdNamespace="https://id.acdh.oeaw.ac.at/"
fedoraRelProp="http://purl.org/dc/terms/isPartOf"
fedoraLocProp="https://vocabs.acdh.oeaw.ac.at/#locationpath"
fedoraSizeProp="http://purl.org/dc/terms/extent"

fedoraApiUrl="http://fedora/rest"
fedoraUser="admin"
fedoraPswd="admin"

containerDir="/mnt/acdh_resources/container/"