
{%  if data %}
    {% set acr = data|split('/') %}
    
    {%  if acr|last == 'public' %}
        <span class="green-dot" title="public"></span>
    {%  elseif acr|last == 'academic' %}
        <span class="orange-dot" title="academic"></span>
    {%  elseif acr|last == 'restricted' %}
        <span class="red-dot" title="restricted"></span>
    {% endif%} 
{% endif%}