<div style="
    -webkit-box-shadow: 11px 9px 13px 0px rgba(0,0,0,0.47);
    -moz-box-shadow: 11px 9px 13px 0px rgba(0,0,0,0.47);
    box-shadow: 11px 9px 13px 0px rgba(0,0,0,0.47);
    border: 1px solid black;">
    <center>
        
    <div>
        <h1 style="color:RED">ERROR!!!</h1>
    </div>

    <div style="margin: 10px;">        
        <b>{{ errorMSG }}</b>
        <br /><br />
    </div>
        
    <div style="margin: 10px;">
        <b><a href="/"> Go back to the MENU page</a></b>
    </div>
        
    </center>
</div>    