<div class="result-basic-info">
    <span> <a href="#" id="first-btn" >First</a></span>
    <span> <a href="#" id="prev-btn" >Prev</a> </span>
    <span id="pages_span"> </span>
    <span><a href="#" id="next-btn" >Next</a></span>
    <span><a href="#" id="last-btn" >Last</a></span>

    <span>LIMIT:
        <select id="limit-sel">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
            <option value="50">50</option>
        </select> 
    </span>

    <span>Order By: 
        <select id="orderby">
            <option value="asc">ASC (title)</option>
            <option value="desc">DESC (title)</option>
        </select> 
    </span>
</div>
    

    
    
