<div>
    <h3>{{ "Please login with your federated account"|trans }}!</h3>
    {% set myUrl = url('<front>')|raw %}
    {% set myBaseUrl = myUrl["#markup"]|replace({"/browser/": ""}) %}
    <span class="res-title">Federated Login: </span>
    <a class="shibboleth" href="{{ myBaseUrl }}/Shibboleth.sso/Login?target={{ myUrl["#markup"]|url_encode(true) }}"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
		      
</div>